/*Variables de colores del la portada*/
$bg-front: #111111fa;
$text-front: #dbdbdbe5;

/*Variables de colores los botones*/
$bg-button: #cf3913;
$text-button: #ffff;

/*Variables de colores del bloque principal*/
$bg-main: #ffff;
$text-main: #111111bb;

/*Variables de colores del pie de pagina*/
$bg-footer: #111111fa;
$text-footer: #ffff;

$border-form: rgb(222, 226, 230);