@import "colores";

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

.imageContainer{
    overflow: hidden;
}

.imageTransform{
    transition: 500ms;
}
.imageTransform:hover{
    transform: scale(1.05);
    opacity: 0.9;
}

.frontFormat{
    background-color: $bg-front;
    color: $text-front;
    border-radius: 50px;

    p{
        text-align: center;
        padding-block: 20px;
    }
}

.mainFormat{
    background-color: $bg-main;
    color: $text-main;
    margin-top: 20px;
    text-align: center;

    #travelImage{
        margin-block: 20px;
    }
}

.footerFormat{
    background-color: $bg-footer;
    color: $text-footer;
    text-align: center;
    padding-block: 20px;

    h5{
        line-height: 3;
    }
    
    p{
        line-height: 0.75;
    }

}

.frontFormButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;

    button{
        background-color: darken($bg-button, $amount: 20);
        color: $text-button;
        padding: 5px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 250ms;
    }

    button:hover{
        background-color: darken($bg-button, $amount: 0);
        transform: scale(1.10);
    }
}

.bookingForm{
    background-color: $bg-main;
    border: 1px solid $border-form;
    border-radius: 10px;
    color: $text-main;
    padding-block: 20px;
    margin-block: 20px;
}

.servicesCardImage{
    max-height: 500px;
    overflow: hidden;
}

.galeryFormat{
    height: auto;
    max-width: 700px;
    overflow: hidden;
    margin-block: 30px;
}

.serviceCards{
    margin-block: 20px;
}